.animate-gradient {
  background: linear-gradient(270deg, #2193b0, #6dd5ed, #FF4E50, #F9D423);
  background-size: 800% 800%;
  animation: gradientBG 18s ease infinite;
}

@keyframes gradientBG {
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
} 